<ion-view view-title="Sobre nosotros">
    <ion-content>
        <div class="row text-center">
            <div class="col">
                <img src="/img/logo-teknol-grande.png">
            </div>
        </div>
        
        <div class="row">
            <div class="col col-60 col-offset-20">
                
                <p class="text-justify">
                    Somos una compañia especializada en el desarrollo de software y soluciones tecnológicas e
                    innovadoras para todo tipo de empresas.
                    Ofrecemos propuestas innovadoras de calidad, que le permiten a nuestro clientes optimizar
                    sus procesos, reducir costos y aumentar su competitividad.
                </p>
                
                <p class="text-justify">
                    Somos expertos en el manejo de la tecnología touch y nos caracterizamos por diseñar,
                    desarrollar, y producir ideas que involucren la innovación y la tecnología.
                </p>
            
            </div>
        </div>
    </ion-content>
</ion-view>