<ion-view view-title="Cabinas">
  <ion-content>
    <div class="row">
      <div class="col col-60 col-offset-20">
        <p class="text-justify">
          Cabinas portátiles insonorizadas para grabación de muestras de voz y espacios
          diseñados para el aislamiento profesional de cualquier tipo de sonido.
        </p>
        <p class="text-justify">
          Ofrecemos cabinas portátiles insonorizadas que se pueden instalar en cualquier lugar, ya que se pueden mover, desmontar y transportar en cualquier momento.
        </p>
      </div>
    </div>
  </ion-content>
</ion-view>