<ion-view view-title="Misión, Visión y Valores">
  <ion-content>
    <div class="row">
      <div class="col col-60 col-offset-20">
        <h4>Misión</h4>
        <p class="text-justify">
          Buscamos agregar valor a nuestros clientes, accionistas y colaboradores a travéz del
          desarrollo de soluciones tecnológicas de vanguardía, contribuyendo así al dearrollo de la sociedad.
        </p>
        <br>
        <h4>Visión</h4>
        <p class="text-justify">
          Trascender como una empresa innovadora a nivel internacional, líder en la generación
          de soluciones tecnológicas, adelantándonos a las necesidades del mercado y reconocida
          por su calidad en el servicio, su integridad, y su excelente equipo de trabajo.
        </p>
        <br>
        <h4>Valores</h4>
        <p class="text-justify">
          <ul class="list">
            <li class="item">Integridad</li>
            <li class="item">Responsabilidad</li>
            <li class="item">Perseverancia</li>
            <li class="item">Confiabilidad</li>
            <li class="item">Compañerismo</li>
          </ul>
        </p>
        
      </div>
    </div>
  </ion-content>
</ion-view>