<ion-view view-title="Pantallas">
  <ion-content>
    <div class="row">
      <div class="col col-60 col-offset-20">
        <p class="text-justify">
          La tecnología Multitouch de Teknol permite una interacción más fluida, natural e intuitiva
          con aplicaciones táctiles, incluso con software diseñado para mouse y teclado.
        </p>
        <p class="text-justify">
          Aproveche al máximo esta capacidad con Windows 8 de Microsoft.      
        </p>
      </div>
    </div>
    
    <div class="row">
      <div class="col col-60 col-offset-20">
        Video
      </div>
    </div>
    
    
  </ion-content>
</ion-view>