<ion-view view-title="Software">
  <ion-content>
    <div class="row">
      
      <div class="col col-60 col-offset-20">
        
        <h4>Soluciones de Alta Tecnología</h4>
        <p class="text-justify">
          Teknol ofrece soluciones de alta tecnología que ayudan a las empresas a reducir costos,
          tomar decisiones más precisas y tener un mejor control de sus procesos. Desarrollamos
          plataformas SaaS y aplicaciones móviles que cubren todas sus necesidades.          
        </p>

        <p class="text-justify">
          GeoMining Touch es nuestra poderosa herramienta para visualizar información detallada,
          actualizada y geo-referenciada.
        </p>
      </div>
    </div>
  </ion-content>
</ion-view>